<div class= 'col-md-4'>
  <h2>Abandon 'PM' Data</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Abandon Time</th>
        <th>Abandon Date</th>
      </tr>
    </thead>
    <tbody>
      <% @abandon_data_order_by_time.each do |data| %>
        <% if data.respond_to?(:abandon_time) &&  data.abandon_time.strftime("%p") == "PM" && data.abandon_date.year == 2024 %>
        <tr>
          <td><%= data.abandon_time.strftime("%I:%M %p") %></td>
          <td><%= data.abandon_date %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
